In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from csv import writer
import re

In [30]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}

with open("/Users/parth/mcgill-news-scraper/professors/agriculture_and_environment_profs.csv", "w", encoding="utf-8") as f:
  out = writer(f)
  header = ["Name", "Department", "Faculty"]
  out.writerow(header)
  for i in range(0, 12):
    print(i)
    url = "https://www.mcgill.ca/macdonald/people?page=" + str(i)
    page = requests.get(url, headers=headers)
    soup = BeautifulSoup(page.content, "html.parser")
    items = soup.find_all("div", class_=re.compile("profiles-glossary-entry"))

    for item in items:
        try:
            name = item.find("h2", class_="mcgill-profiles-display-name").text
        except:
            name=""
            print(i)
            print(item)

        try:
            department = item.find("div", class_=re.compile("mprofile-department"))
            d = department.find("span", class_="field-content").text
        except:
            d=""
            print(i)
            print(item)
      

        info = [name, d, "Faculty of Agriculture and Environmental Sciences"]
        out.writerow(info)

0
1
2
3
4
5
6
7
8
9
10
11

In [39]:
df_agri = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/agriculture_and_environment_profs.csv")
df_agri.head(3)

,Name,Department,Faculty
0,Viacheslav Adamchuk,Bioresource Engineering,Faculty of Agriculture and Environmental Sciences
1,Jan Franklin Adamowski,Bioresource Engineering,Faculty of Agriculture and Environmental Sciences
2,Luis Agellon,"Human Nutrition, School of",Faculty of Agriculture and Environmental Sciences

In [40]:
df_eng = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/eng_profs.csv")
df_eng.head(3)

,Name,Department,Faculty
0,Annmarie Adams,The Peter Guo-hua Fu School of Architecture,Faculty of Engineering
1,Marco Amabili,Department of Mechanical Engineering,Faculty of Engineering
2,Jorge Angeles,Department of Mechanical Engineering,Faculty of Engineering

In [41]:
res = pd.concat([df_eng, df_agri])
res.head

<bound method NDFrame.head of                      Name                                         Department  \
0          Annmarie Adams        The Peter Guo-hua Fu School of Architecture
1           Marco Amabili               Department of Mechanical Engineering
2           Jorge Angeles               Department of Mechanical Engineering
3               Tal Arbel  Department of Electrical and Computer Engineering
4    Madhav Govind Badami                           School of Urban Planning
..                    ...                                                ...
106           Linda Wykes                         Human Nutrition, School of
107    Jianguo (Jeff) Xia         Animal Science, Parasitology, Institute of
108     Varoujan Yaylayan            Food Science and Agricultural Chemistry
109    Alexander Yitbarek                                     Animal Science
110              Xin Zhao                                     Animal Science

                                               Faculty
0                               Faculty of Engineering
1                               Faculty of Engineering
2                               Faculty of Engineering
3                               Faculty of Engineering
4                               Faculty of Engineering
..                                                 ...
106  Faculty of Agriculture and Environmental Sciences
107  Faculty of Agriculture and Environmental Sciences
108  Faculty of Agriculture and Environmental Sciences
109  Faculty of Agriculture and Environmental Sciences
110  Faculty of Agriculture and Environmental Sciences

[392 rows x 3 columns]>