In [1]:
import pandas as pd

In [2]:
df_anthro = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/anthro_profs.csv")
df_anthro.head(3)

            Name                  Department          Faculty
0    Diana Allan  Department of Anthropology  Faculty of Arts
1   Alyssa Bader  Department of Anthropology  Faculty of Arts
2  Samuele Collu  Department of Anthropology  Faculty of Arts

In [3]:
df_art_history = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/art_history_profs.csv")
df_art_history.head(3)

,Name,Department,Faculty
0,Darin Barney,Department of Art History & Communication Studies,Faculty of Arts
1,Gloria Bell,Department of Art History & Communication Studies,Faculty of Arts
2,Bobby Benedicto,Department of Art History & Communication Studies,Faculty of Arts

In [4]:
df_east_asian = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/east_asian_history_profs.csv")
df_east_asian.head(3)

             Name                        Department          Faculty
0  Jennie H Chang  Department of East Asian Studies  Faculty of Arts
1  Kimberly Chung  Department of East Asian Studies  Faculty of Arts
2      Xinyu Dong  Department of East Asian Studies  Faculty of Arts

In [5]:
df_econ = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/economics_profs.csv")
df_econ.head(3)

                         Name               Department          Faculty
0            Nicolas Ajzenman  Department of Economics  Faculty of Arts
1  Francisco Alvarez-Cuadrado  Department of Economics  Faculty of Arts
2            Francesco Amodio  Department of Economics  Faculty of Arts

In [6]:
df_english = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/english_profs.csv")
df_english.head(3)

                Name             Department          Faculty
0   Sandeep Banerjee  Department of English  Faculty of Arts
1     Kenneth Borris  Department of English  Faculty of Arts
2  Catherine Bradley  Department of English  Faculty of Arts

In [7]:
df_french_l = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/french_language_centre_profs.csv")
df_french_l.head(3)

               Name              Department          Faculty
0     Laura Bourrel  French Language Centre  Faculty of Arts
1    Samantha Damay  French Language Centre  Faculty of Arts
2  Natallia Liakina  French Language Centre  Faculty of Arts

In [8]:
df_french = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/french_language_literatur.csv")
df_french.head(3)

,Name,Department,Faculty
0,Isabelle Arseneau,Department of French Language Literature,Faculty of Arts
1,Arnaud Bernadet,Department of French Language Literature,Faculty of Arts
2,Michael Biron,Department of French Language Literature,Faculty of Arts

In [10]:
df_history = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/history_and_classical_studies_profs.csv")
df_history.head(3)

,Name,Department,Faculty
0,Malek Abisaab,Department of History and Classical Studies,Faculty of Arts
1,Wendell Nii Laryea Adjetey,Department of History and Classical Studies,Faculty of Arts
2,Anastassios Anastassiadis,Department of History and Classical Studies,Faculty of Arts

In [11]:
df_jewish = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/jewish_studies_profs.csv")
df_jewish.head(3)

             Name                    Department           Faculty
0  David Aberbach  Department of Jewish Studies   Faculty of Arts
1    Garry Beitel  Department of Jewish Studies  Faculty of Arts
2     Eric Caplan  Department of Jewish Studies   Faculty of Arts

In [12]:
df_languages = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/languages,_literature_profs.csv")
df_languages.head(3)

,Name,Department,Faculty
0,Karin Bauer,"Department of Languages, Literatures, and Cult...",Faculty of Arts
1,Laura A Beraha,"Department of Languages, Literatures, and Cult...",Faculty of Arts
2,Eugenio Bolongaro,"Department of Languages, Literatures, and Cult...",Faculty of Arts

In [13]:
df_phil = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/philosophy_profs.csv")
df_phil.head(3)

                     Name                Department          Faculty
0            Alia Al-Saji  Department of Philosophy  Faculty of Arts
1  Michael Blome-Tillmann  Department of Philosophy  Faculty of Arts
2          Philip Buckley  Department of Philosophy  Faculty of Arts

In [14]:
df_ling = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/linguistics_profs.csv")
df_ling.head(3)

                 Name                 Department          Faculty
0  Luis Alonso-Ovalle  Department of Linguistics  Faculty of Arts
1      Charles Boberg  Department of Linguistics  Faculty of Arts
2     Meghan Clayards  Department of Linguistics  Faculty of Arts

In [15]:
df_poli = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/poli_sci_profs.csv")
df_poli.head(3)

                   Name                       Department          Faculty
0        Arash Abizadeh  Department of Political Science  Faculty of Arts
1  Yann Allard-Tremblay  Department of Political Science  Faculty of Arts
2      Leonardo Baccini  Department of Political Science  Faculty of Arts

In [16]:
df_socio = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/arts/socio_profs.csv")
df_socio.head(3)

                 Name               Department          Faculty
0  Sarah Brauner-Otto  Department of Sociology  Faculty of Arts
1    Jason Carmichael  Department of Sociology  Faculty of Arts
2       Shelley Clark  Department of Sociology  Faculty of Arts

In [17]:
frames = [df_anthro, df_art_history, df_east_asian,
df_econ, df_english, df_french, df_french_l, df_history,
df_jewish, df_languages, df_ling, df_phil, df_poli,
df_socio]
total = pd.concat(frames)
total.head

<bound method NDFrame.head of                  Name                  Department          Faculty
0         Diana Allan  Department of Anthropology  Faculty of Arts
1        Alyssa Bader  Department of Anthropology  Faculty of Arts
2       Samuele Collu  Department of Anthropology  Faculty of Arts
3      Nicole Couture  Department of Anthropology  Faculty of Arts
4         John Galaty  Department of Anthropology  Faculty of Arts
..                ...                         ...              ...
14       Thomas Soehl     Department of Sociology  Faculty of Arts
15  Axel van den Berg     Department of Sociology  Faculty of Arts
16          Zoua Vang     Department of Sociology  Faculty of Arts
17      Elaine Weiner     Department of Sociology  Faculty of Arts
18    Morton Weinfeld     Department of Sociology  Faculty of Arts

[326 rows x 3 columns]>

In [18]:
total.to_csv("/Users/parth/mcgill-news-scraper/professors/arts/all_profs.csv",index=False)

In [19]:
df_educational = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/education/educational_counselling_profs.csv")
df_integrated = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/education/integrated_studies_profs.csv")
df_kin = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/education/kinesiology_profs.csv")
ed_total = pd.concat([df_educational, df_kin, df_integrated])
ed_total.head

<bound method NDFrame.head of                     Name                                         Department  \
0        Armando Bertone  Department of Educational & Counselling Psycho...
1         Alain Breuleux  Department of Educational & Counselling Psycho...
2           Jacob Burack  Department of Educational & Counselling Psycho...
3     Jeffrey Derevensky  Department of Educational & Counselling Psycho...
4         Martin Drapeau  Department of Educational & Counselling Psycho...
..                   ...                                                ...
34  Teresa Strong-Wilson      Department of Integrated Studies in Education
35         Emmanuel Tabi      Department of Integrated Studies in Education
36            Boyd White      Department of Integrated Studies in Education
37        Elizabeth Wood      Department of Integrated Studies in Education
38       Paul Zanazanian      Department of Integrated Studies in Education

                 Faculty
0   Faculty of Education
1   Faculty of Education
2   Faculty of Education
3   Faculty of Education
4   Faculty of Education
..                   ...
34  Faculty of Education
35  Faculty of Education
36  Faculty of Education
37  Faculty of Education
38  Faculty of Education

[90 rows x 3 columns]>

In [20]:
ed_total.to_csv("/Users/parth/mcgill-news-scraper/professors/education/education_all_profs.csv", index=False)

In [21]:
df_res = pd.read_csv("/Users/parth/mcgill-news-scraper/professors/res.csv")
master_total = pd.concat([df_res, total, ed_total])
master_total.head

<bound method NDFrame.head of                     Name                                         Department  \
0         Annmarie Adams        The Peter Guo-hua Fu School of Architecture
1          Marco Amabili               Department of Mechanical Engineering
2          Jorge Angeles               Department of Mechanical Engineering
3              Tal Arbel  Department of Electrical and Computer Engineering
4   Madhav Govind Badami                           School of Urban Planning
..                   ...                                                ...
34  Teresa Strong-Wilson      Department of Integrated Studies in Education
35         Emmanuel Tabi      Department of Integrated Studies in Education
36            Boyd White      Department of Integrated Studies in Education
37        Elizabeth Wood      Department of Integrated Studies in Education
38       Paul Zanazanian      Department of Integrated Studies in Education

                   Faculty
0   Faculty of Engineering
1   Faculty of Engineering
2   Faculty of Engineering
3   Faculty of Engineering
4   Faculty of Engineering
..                     ...
34    Faculty of Education
35    Faculty of Education
36    Faculty of Education
37    Faculty of Education
38    Faculty of Education

[808 rows x 3 columns]>

In [ ]:
master_total.to_csv("/Users/parth/mcgill-news-scraper/professors/res.csv", index=False)